<a href="https://colab.research.google.com/github/RojaCM/PYTHON-CONCEPTS/blob/main/convert%20dictionary%20into%20list%20of%20tuples%2Cconvert%20list%20into%20string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
a=[40,80,45,59,50]

In [28]:
a=[80,30,40,69]
max=0
for i in a:
  if i >max:
    prev_max=max
    max=i
max2=0
for j in a:
  if j !=max and j>max2:
    max2=j
print(max2)

69

#Python: Convert a Dictionary to a List of Tuples (4 Easy Ways)
Convert a Python Dictionary to a List of Tuples Using the List Function
One of the most straightforward and Pythonic ways to convert a Python dictionary into a list of tuples is to the use the built-in list() function. This function takes an object and generates a list with its items.

In [29]:
a={'roj':25,'theja':56,'pooja':45}

In [32]:
list(a.items())

[('roj', 25), ('theja', 56), ('pooja', 45)]

#Convert a Python Dictionary to a List of Tuples Using a List Comprehension
Python list comprehensions are elegant ways in which to generate lists based on another iterable object. In order to convert a dictionary in Python to a list of tuples, we will loop over the keys and values and generate tuples.

In [34]:
a={'roj':25,'theja':56,'pooja':45}

In [35]:
[(i,j) for i,j in a.items()]

[('roj', 25), ('theja', 56), ('pooja', 45)]

#Convert a Python Dictionary to a List of Tuples Using the Zip Function
The Python zip() function allows you to iterate in sequence over multiple iterative objects. We can create two iterative objects for a dictionary’s keys and values by using the .keys() and .items() methods. Both of these returns iterable objects, containing either the keys or the values of our dictionary.

Let’s take a look at how we can do this in Python:

In [36]:
a={'roj':25,'theja':56,'pooja':45}

In [37]:
b=a.keys()

In [38]:
c=a.values()

In [39]:
b

dict_keys(['roj', 'theja', 'pooja'])

In [40]:
c

dict_values([25, 56, 45])

In [42]:
[(i,j) for i,j in zip(b,c)]

[('roj', 25), ('theja', 56), ('pooja', 45)]

In [44]:
list(zip(b,c))

[('roj', 25), ('theja', 56), ('pooja', 45)]

#Convert a Python Dictionary to a List of Tuples Using a For Loop
A very intuitive way to accomplish converting a Python dict to a list of tuples is to use a Python for loop.

Python for-loops allow us to easily iterate over a sequence and perform a provided action as a result.

In [45]:
# Convert a Dictionary into a List of Tuples Using a for loop
sample_dict = {'john': 30, 'nik': 32, 'datagy': 40}

In [47]:
l=[]
for i in sample_dict.keys():
  l.append((i,sample_dict.get(i)))

In [48]:
l

[('john', 30), ('nik', 32), ('datagy', 40)]

In [50]:
sample_dict.get('roja',0)

0

#Learn How to Convert a List to String in Python
List to String Python with .join()
Let’s explore the join function a little bit. The list you pass into it can contain any of the following: strings, characters, and numbers. The functionMM

In [53]:
#seperator.join('list or iterable')

In [54]:
our_list = ['You', 'are', 'learning', 'with', 'datagy!']
' '.join(our_list)

'You are learning with datagy!'

#Where you might run into issues
Earlier, we mentioned that you can convert lists of different data types. However, mixing data types within lists will result in issues. Let’s take a look at an example:

In [56]:
our_list = ['I','am', 'using', 'Python', 3]

In [57]:
' '.join(our_list)

TypeError: ignored

# #We can easily fix this by changing all the types to strings:

In [58]:
' '.join([str(i) for i in our_list])

'I am using Python 3'

#Spaces Between Items
In the example below, we replicate our process above but turn the process into a function. You can then assign the resulting string to a variable as shown and print it out:

In [59]:
our_list = ['I','am', 'learning', 'Python', 'with', 'datagy!']

In [60]:
def fun(list1):
  return ' '.join(list1)

In [61]:
s=fun(our_list)

In [62]:
s

'I am learning Python with datagy!'

#Commas Between Items
If we wanted to delimit our items with commas, we could use the function below. Similar to our previous example, the result can be assigned to a variable:

In [63]:
our_list = ['I','am', 'learning', 'Python', 'with', 'datagy!']
def commas(list2):
  return ','.join(list2)

In [64]:
r=commas(our_list)

In [65]:
r

'I,am,learning,Python,with,datagy!'

In [69]:
#New Lines Between Items
#In this following example, we’ll show how to separate our string with new lines for each item:

our_list = ['I','am', 'learning', 'Python', 'with', 'datagy!']
def newline(list2):
  return '\n'.join(list2)

In [70]:
q=newline(our_list)
q

'I\nam\nlearning\nPython\nwith\ndatagy!'