<a href="https://colab.research.google.com/github/RojaCM/PYTHON-CONCEPTS/blob/main/Fining%20index%20of%20max%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python IndexError: List Index Out of Range Error Explained

The IndexError is one of the most common Python runtime errors that youâ€™ll encounter in your programming journey. For the most part, these these errors are quite easy to resolve, once you understand why they occur.

In [ ]:
l1=[1,2,3,4,5,6,7]

In [ ]:
l1.index(5)

4

In [ ]:
l1[::-1]

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
l1.index(9)

ValueError: ignored

In [ ]:
l1[9]

IndexError: ignored

In [ ]:
l1[0]

1

#Python IndexError with For Loop
You may encounter the Python IndexError while running a Python for loop. This is particularly common when you try to loop over the list using the range() function.

In [ ]:
for i in range(len(l1)+1):
  print(l1[i])

1
2
3
4
5
6
7

IndexError: ignored

In [ ]:
#Python IndexError with While Loop

l1

i=0
while i<=len(l1):
  print(l1[i])
  i+=1

1
2
3
4
5
6
7

IndexError: ignored

In [ ]:

l1

i=0
while i<len(l1):
  print(l1[i])
  i+=1

1
2
3
4
5
6
7

In [ ]:
for i in l1:
  print(i)

1
2
3
4
5
6
7

In [ ]:
for i,j in enumerate(l1):
  print(i,j)

0 1
1 2
2 3
3 4
4 5
5 6
6 7

#Python: Get Index of Max Item in List
Find the Max Value in a Python List
Before we dive into how to find the index of the max value in a list, lets begin by learning how to simply find the max value of an item in a list.

In [ ]:
l2=[55,66,77,88,99]

In [ ]:
max(l2)

99

In [ ]:
l3=[66,77,88,999,999]

In [ ]:
max(l3)

999

In [ ]:
#Find Index of Max Item in Python List using index
# Get Index of Max Value from a List
a_list = [10, 11, 14, 23, 9, 3, 35, 22]
a_list.index(max(a_list))

6

In [ ]:
a_list.index(10)

0

In [ ]:
#Find Index of Max Item in Python List with a For Loop
# Get Indices of the Max Value from a List using a for loop
a_list = [10, 11, 35, 14, 23, 9, 3, 35, 22]
maxval=max(a_list)
idx=[]
for i in range(len(a_list)):
  if a_list[i]==maxval:
    idx.append(i)

In [ ]:
idx

[2, 7]

In [ ]:
# Get Indices of the Max Value from a List using enumerate()

[idx for idx,value in enumerate(a_list) if value==max(a_list)]

[2, 7]

#Find Index of Max Item in Python List using numpy
In this final section, youâ€™ll learn how to use numpy in order to find the indices of the items with the highest values in a given Python list.

numpy works well with one of its own data types, arrays, which are list-like structures. One of the benefits of these arrays is that they come with many built-in functions and methods that normal lists do not.

One of these functions is the argmax() function, which allows us to find the first instance of the largest value in the array.

In [ ]:
import numpy as np
a_list = [10, 11, 35, 14, 23, 9, 3, 35, 22]
an_array=np.array(a_list)

In [ ]:
np.argmax(an_array)

2

#Python: Combine Lists â€“ Merge Lists (8 Ways):
combine the python lists using '+' operator

In [ ]:
l1=[3,4,5,6,7]
l2=[6,7,8,9]

In [ ]:
l1+l2

[3, 4, 5, 6, 7, 6, 7, 8, 9]

TypeError: ignored

In [ ]:
def fun1():
     try:
        for i in range(10):
          yield i
     except StopIteration:
           print('finshed')

In [ ]:
M1=fun1()

In [ ]:
print(next(M1))
print(next(M1))
print(next(M1))

0
1
2

Similarly, we can create a new list by unpacking all items from the lists we want to combine. By using the * operator, we can access all the items in both lists and unpack them into a third.

Letâ€™s see what this would look like:

In [ ]:
l1

[3, 4, 5, 6, 7]

In [ ]:
l2

[6, 7, 8, 9]

In [ ]:
l3=[*l1,*l2]

In [ ]:
l3

[3, 4, 5, 6, 7, 6, 7, 8, 9]

#Combine Python Lists Alternating Using Zip
When you combine Python lists, you may want to add items in an alternating method. For example, you may want to add the first item from both lists, then the second item, and so on.

In [ ]:
# Merge Two Lists in Alternating Fashion
list1 = ['1a', '2a', '3a']
list2 = ['1b', '2b', '3b']

for i in zip(list1,list2):
  print(i)

('1a', '1b')
('2a', '2b')
('3a', '3b')

In [ ]:
[j for i in zip(list1,list2) for j in i]

['1a', '1b', '2a', '2b', '3a', '3b']

In [ ]:
#Combine Python Lists without Duplicates
list1 = [1, 2, 3, 4]
list2 = [4, 5, 6, 7]

In [ ]:
list(set(list1+list2))

[1, 2, 3, 4, 5, 6, 7]

#Python Concatenate Arrays
numpy, the popular Python data science library, has a list-like data structure called numpy arrays. These arrays have a number of different methods to making working with them easier.

One of these methods is the np.concactenate() method, which, well, concatenates two lists.

In [ ]:
# Concactenate Python Arrays
import numpy as np
l5=[6,7,8]
l6=[2,3,4]

In [ ]:
l7=np.array(l5)

In [ ]:
l8=np.array(l6)

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
array1 = np.array(list1)
array2 = np.array(list2)
array3 = np.concatenate((array1, array2))
print(array3)

[1 2 3 4 5 6]

#Combine Python Lists with a For Loop
Combine Python Lists with a For Loop
In this section, youâ€™ll learn how to use a for loop to append items from one list to another. While this isnâ€™t really approach thatâ€™s necessary in most cases, it does give you flexibility in terms of what items to include.

For example, using a for loop, you can skip certain items.

Letâ€™s take a look at two examples: (1) where you combine all items, and (2) where you combine conditionally:

In [ ]:
# Combine Two Python Lists with a For Loop
list1 = ['datagy', 'is', 'a', 'site']
list2 = ['to', 'learn', 'python']

for i in list2:
  list1.append(i)

In [ ]:
list1

['datagy', 'is', 'a', 'site', 'to', 'learn', 'python']

In [ ]:
#combine items conditonally
for i in list2:
  if len(i)>3:
    list1.append(i)

In [ ]:
list1

['datagy', 'is', 'a', 'site', 'to', 'learn', 'python', 'learn', 'python']

#Combine Python Lists with a List Comprehension
We can also use a Python list comprehension to combine two lists in Python. This approach uses list comprehensions a little unconventionally: we really only use the list comprehension to loop over a list an append to another list.

In [ ]:
[list1.append(i) for i in list2]

[None, None, None]

In [ ]:
list2

['to', 'learn', 'python']

In [ ]:
list1

['datagy',
 'is',
 'a',
 'site',
 'to',
 'learn',
 'python',
 'learn',
 'python',
 'to',
 'learn',
 'python']

In [ ]:
m1=[4,5,6]
m2=[7,8,9]

In [ ]:
[m1.append(i) for i in m2]

[None, None, None]

In [ ]:
m1

[4, 5, 6, 7, 8, 9]

In [ ]:
m3=[4,5,6,7]
m4=[4,5,7,8]

In [ ]:
[i for i in m3 if i in m4]

[4, 5, 7]

In [ ]:
m5=list(set(m3).intersection(m4))

In [ ]:
m5

[4, 5, 7]

#Combine Python Lists with Unique Elements Only

In [ ]:
m6=m3+m4

In [ ]:
m6

[4, 5, 6, 7, 4, 5, 7, 8]

In [ ]:
m7=list(set(m3).intersection(set(m4)))

In [ ]:
m7

[4, 5, 7]

In [ ]:
[i for i in m6 if i not in m7]

[6, 8]