<a href="https://colab.research.google.com/github/RojaCM/PYTHON-CONCEPTS/blob/main/how%20to%20remove%20duplicates%2Cfind%20out%20the%20absolute%20value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Remove Duplicates from a Python List Using For Loops

The most naive implementation of removing duplicates from a Python list is to use a for loop method. Using this method involves looping over each item in a list and seeing if it already exists in another list.

In [31]:
# Remove Duplicates from a Python list using a For Loop
duplicated_list = [1,1,2,1,3,4,1,2,3,4]
em=[]
for i in duplicated_list:
  if i not in em:
    em.append(i)

In [32]:
em

[1, 2, 3, 4]

#Remove Duplicates from a Python List Using a List Comprehension

Similar to the method using for loops, you can also use Python list comprehensions to deduplicate a list. The process involved here is a little different than a normal list comprehension, as we’ll be using the comprehension more for looping over the list.

Let’s see what this looks like:

In [33]:
# Remove Duplicates from a Python list using a List Comprehension
duplicated_list = [1,1,2,1,3,4,1,2,3,4]
deduplicated_list = list()

[deduplicated_list.append(i) for i in duplicated_list if i not in deduplicated_list]

[None, None, None, None]

In [34]:
deduplicated_list

[1, 2, 3, 4]

Use Python Dictionaries to Remove Duplicates from a List
Since Python 3.7, Python dictionaries maintain the original order of items passed into them. While this method will work for versions earlier than Python 3.7, the resulting deduplicated list will not maintain the order of the original list.

The reason that converting a list to a dictionary works is that dictionary keys must be unique. One important thing to note is that Python dictionaries require their keys to be hashable, meaning that they must be immutable. if your list contains mutable elements, then this approach will not work.

In [35]:
# Remove Duplicates from a Python list using a dictionary
duplicated_list = [1,1,2,1,3,4,1,2,3,4]
dictionary = dict.fromkeys(duplicated_list)
deduplicated_list = list(dictionary)
print(deduplicated_list)
# Returns: [1, 2, 3, 4]

[1, 2, 3, 4]

#Use Python Sets to Remove Duplicates from a List
Sets are unique Python data structures that are generated using the curly braces {}. They contain only unique items and are unordered and unindexed.

Because Python sets are unique, when we create a set based off of another object, such as a list, then duplicate items are removed

In [36]:
a=[4,2,3,4,5,6,4,5,4,5,6]

In [37]:
set(a)

{2, 3, 4, 5, 6}

In [38]:
list(set(a))

[2, 3, 4, 5, 6]

#Remove Duplicates from a Python List Using Collections
If you’re working with an older version of Python that doesn’t support ordered dictionaries (prior to Python 3.6), you can also use the collections library to accomplish a very similar approach.

In [39]:
# Remove Duplicates from a Python list using a collections
from collections import OrderedDict
b=[4,5,6,7,8,8,9,9]

In [40]:
list(OrderedDict.fromkeys(b))

[4, 5, 6, 7, 8, 9]

#Use Numpy to Remove Duplicates from a Python List
The popular Python library numpy has a list-like object called arrays. What’s great about these arrays is that they have a number of helpful methods built into them.

In [41]:
# Remove Duplicates from a Python list using a numpy array
import numpy as np

d1=[3,4,4,5,6,4,5]

In [42]:
np.unique(np.array(d1)).tolist()

[3, 4, 5, 6]

#Python Absolute Value: Abs() in Python

What is an Absolute Value?
An absolute value is the distance between a number and 0 on the number line, meaning that it is the positive number of any integer, float, or complex number.

Some unique attributes of absolute numbers are:

They are always non-negative (meaning, they are 0 or positive)
The absolute value of a negative number is equal to the absolute value of its positive equivalent
Absolute numbers are often used in math, but also have many practical applications. For example, if you were to develop a program that was used to calculate the distance travelled over the course of a day, you would want to include “negative distance” (those travelled back). Because of this, you’d need to convert those negative numbers to positive numbers, to properly be able to add them up. This is where absolute numbers come in.

Let’s see how you can calculate an absolute value in Python by using the abs() function.

In [44]:
i=-2.5
abs(i)

TypeError: ignored

In [ ]:
2**2

In [ ]:
4**0.5

In [45]:
q=-2
abs(q)

TypeError: ignored

In [ ]:
p=2
abs(p)

In [ ]:
abs(0)

In [ ]:
#In terms of passing in a complex number, the magnitude of that number is returned.
g=3+4j

In [ ]:
abs(g)

#Calculate the Python Absolute Value without a Function
There may be times when you’re challenged to find the absolute value of a given number without the use of the abs() function. This may come up in coding interviews or other challenge situations.

One way that we can accomplish this is to first square the number and then find its square root.

In [ ]:
h=-2.2

In [ ]:
((-2.2)**2)**0.5

#Get the Absolute Value of a Python List
There may be many times when you’re presented with a list data structure that contains numbers and you want to convert all the numbers to their absolute values.

We can use either a for loop or a list comprehension to accomplish this. Lets first take a look at how to accomplish this using a for loop:

In [ ]:
# Converting a Python lists' values to their absolute values using a for loop
sample_list = [-99, 123, -1.34, 3.14]

for i in range(len(sample_list)):
  sample_list[i]=abs(sample_list[i])

In [ ]:
sample_list

In [ ]:
a=[-7,-8,-9,10]

In [ ]:
# Converting a Python lists' values to their absolute values using a for loop
sample_list = [-99, 123, -1.34, 3.14]
abs_list = list()
for value in sample_list:
    absolute = abs(value)
    abs_list.append(absolute)
print(abs_list)
# Returns: [99, 123, 1.34, 3.14]

#Now that we have a solid understanding of how to accomplish this using a for loop, let’s convert this into a Python list comprehension.

In [ ]:
# Converting a Python lists' values to their absolute values using a list comprehension
sample_list = [-99, 123, -1.34, 3.14]
abs_list = [abs(item) for item in sample_list]
print(abs_list)
# Returns: [99, 123, 1.34, 3.14]

In [ ]:
i=78
abs(i)

#Get the Absolute Value of a Numpy Array
Numpy arrays are list-like structures, but they come with a number of different built-in methods than Python lists do.

For example, one the numpy functions, np.abs(), takes a numpy array and converts all of its numbers to their absolute value.

In [48]:
# Converting a numpy array to absolute values
import numpy as np
c=[-9,7,-8,-9,6,5]

In [50]:
np.abs(np.array(c))

array([9, 7, 8, 9, 6, 5])

#Convert a Pandas Column to Absolute Values
Pandas makes it very easy to work with tabular data, storing the data in a pandas.DataFrame object. Let’s load a Pandas dataframe and learn how to convert a column’s values to their absolute values using built-in functions.

In [51]:
# Converting a Pandas dataframe column to its absolute values
import pandas as pd

In [52]:
df={'name':['roja','pooja','theja','manju','prema'],
    'distance':[-5,8,-9,-5,-4]}

In [53]:
df

{'distance': [-5, 8, -9, -5, -4],
 'name': ['roja', 'pooja', 'theja', 'manju', 'prema']}

In [54]:
df1=pd.DataFrame(df)

In [55]:
df1

    name  distance
0   roja        -5
1  pooja         8
2  theja        -9
3  manju        -5
4  prema        -4

In [56]:
df1['absdistance']=df1['distance'].abs()

In [57]:
df1

    name  distance  absdistance
0   roja        -5            5
1  pooja         8            8
2  theja        -9            9
3  manju        -5            5
4  prema        -4            4