<a href="https://colab.research.google.com/github/RojaCM/PYTHON-CONCEPTS/blob/main/LIST%20SORT().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SORT () : We can modify the order of the list items using sort() function.
Used to sort the elements in a list in a given order either ascending or descending.

SYNTAX:

list.sort(key=none,reverse=False)

key= specifies the function of one argument that is used to compare against another list element. By default, the parameter is set to None, which means that the list items are sorted directly, without calculating a separate key value.
reverse= specifies the order in which to sort values. By default, the argument is set to False, meaning that the data are sorted in ascending order.

Sort a Python List in Ascending Order :

In [1]:
# Sorting a List in Ascending Order
name = ['d', 'a', 't', 'a', 'g', 'y']
name.sort()

In [2]:
name

['a', 'a', 'd', 'g', 't', 'y']

Sort a Python List in Descending Order :we need to pass parameter reverse as TRUE

In [5]:
# Sorting a List in Descending Order
name = ['d', 'a', 't', 'a', 'g', 'y']
name.sort(reverse=True)
print(name)

['y', 't', 'g', 'd', 'a', 'a']

In [7]:
#Sort a Python List in Custom Order with Key :
# Seeing Sort Order with Capital Letters

a=['D','a','h','E','r','L']
a.sort()

In [8]:
a

['D', 'E', 'L', 'a', 'h', 'r']

In [9]:
a.sort(reverse=True)

In [10]:
a

['r', 'h', 'a', 'L', 'E', 'D']

In [11]:
a.sort(key=str.lower)

In [12]:
a

['a', 'D', 'E', 'h', 'L', 'r']

In [14]:
#to sort a list of strings by their last letter
words = ['apple', 'banana', 'grapefruit', 'plum']

words.sort()

In [15]:
words

['apple', 'banana', 'grapefruit', 'plum']

In [20]:
def get_last(word):
    return word[-1]


words.sort(key=get_last)

In [21]:
words

['banana', 'apple', 'plum', 'grapefruit']

In [22]:
#Sort a Python List in a Custom Order with Lambda :
# Sorting a List with a Lambda Function
words = ['apple', 'banana', 'grapefruit', 'plum']
words.sort(key=lambda x:x[-1])

In [23]:
words

['banana', 'apple', 'plum', 'grapefruit']

In [24]:
#Sort a Python List of Lists :

# Sorting a List of Lists by Their Length
lists = [[1,2,3], [4, 5], [6], [7,8,9, 10]]

lists.sort(key=len)

In [25]:
lists

[[6], [4, 5], [1, 2, 3], [7, 8, 9, 10]]

Sort a Python List of Tuples :
For example, imagine we have a tuple that contains (country, number_of_medals), we can sort our list of countries in the order of most to least medals. Letâ€™s see how we can do this:

In [26]:
# Sorting a List of Tuples
countries = [('Spain', 10), ('Portugal', 3), ('Italy', 5), ('Germany', 23), ('France', 12)]
countries.sort(key=lambda x:x[1],reverse=True)

In [27]:
countries

[('Germany', 23), ('France', 12), ('Spain', 10), ('Italy', 5), ('Portugal', 3)]

In [28]:
#Sort a Python List of Dictionaries:
# A List of Dictionaries Containing People
people = [
    {'Name': 'Nik', 'Age': '33', 'City': 'London'}, 
    {'Name': 'Kate', 'Age': '32', 'City': 'Paris'}, 
    {'Name': 'Mike', 'Age': '23', 'City': 'Berlin'}]

In [29]:
people.sort(key=lambda x:x.get('Age'))

In [30]:
people

[{'Age': '23', 'City': 'Berlin', 'Name': 'Mike'},
 {'Age': '32', 'City': 'Paris', 'Name': 'Kate'},
 {'Age': '33', 'City': 'London', 'Name': 'Nik'}]

get method used to access the value of the key in a dictionary()

In [31]:
b={'roja':25,'hhh':34,'iiii':76}

In [32]:
b.get('hhh')

34

In [34]:
b.get('roja')

25