<a href="https://colab.research.google.com/github/RojaCM/PYTHON-CONCEPTS/blob/main/PYTHON%20map().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MAP FUNCTION :
TRANSFORMING ITERABLES WITHOUT LOOPS
Python function allows you to process,trasform or map ,items in an iterbale without needing to use a loop to iterate.

The Python map() function allows you to transform all items in an iterable object, such as a Python list, without explicitly needing to loop over each item. The function takes two inputs: a function to use to map each item and an iterable to transform.

# Understanding the Python map() function
map(
    func,       # The function to be applied
    
    iterable    # The object to be iterated over
)

In [1]:
l1=['roja','pooja','priya','chandu','mahesh']

In [2]:
l2=map(len,l1)

In [3]:
list(l2)

[4, 5, 5, 6, 6]

How to Use Python map() With Custom Functions

In [4]:
def cube(num):
  return num**3

In [5]:
n1=[3,4,5,6,7,8]

In [7]:
l1=list(map(cube,n1))

In [8]:
l1

[27, 64, 125, 216, 343, 512]

How to Use Python map() With Lambda Functions :
when we want to make transformation single time ,we can make use of lambda function

In [11]:
l2=list(map(lambda x:x**3,n1))

In [12]:
l2

[27, 64, 125, 216, 343, 512]

How to Use Python map() With Lambda Functions: one of the great things about python map() function is that it can process multiple iterable function at once,
this is done by passing in multiple arguments follwoing the tarsnformation function as an argument

In [13]:
#using multiple iterables using python map() function
a1=[45,67,8,9,7,6]
a2=[5,6,77,88,9,3]
a3=list(map(lambda x,y:x+y,a1,a2))

In [14]:
a3

[50, 73, 85, 97, 16, 9]

In [16]:
def add(a,b):
  return a+b

In [17]:
a4=list(map(add,a1,a2))

In [18]:
a4

[50, 73, 85, 97, 16, 9]

Using String Methods in Python map() : we can also apply python string methods to a each item in the list using the python map() function.
it allows you to apply the string style of transformations to each item in python

In [19]:
a5=['roja','teju','pooja']

In [20]:
a6=list(map(str.upper,a5))

In [21]:
a6

['ROJA', 'TEJU', 'POOJA']

In this case, our string method didn’t have a parameter. There may be times, however, when you need to pass in a parameter. For example, when you want to use the replace() method, you need to pass in arguments. For this, we can use a lambda function:

In [22]:
# Using String Methods with Arguments in Python map()
words = ['hello!', '!world', 'ho!w', 'ar!e', 'you!']

l7=list(map(lambda x:x.replace('!',' '),words))

In [23]:
l7

['hello ', ' world', 'ho w', 'ar e', 'you ']

Using Python map() with Dictionaries

So far, we’ve only looked at working with lists in the Python map() function. However, you can also work with other iterables such as dictionaries. This works in the same way, though you need to decide whether or not to access keys or values in the dictionaries.

Let’s take a look at an example. Say we have a list of dictionaries that contain lengths and widths for different rectangles and we want to create a new key that contains their area. In order to do this, we could write the following:

In [25]:
list1=[{'length':4,'width':2},
       {'length':5,'width':4}]

In [26]:
list2=list(map(lambda x:x['length']*x['width'],list1))

In [27]:
list2

[8, 20]

In [30]:
for i in list1:
  print(i)

{'length': 4, 'width': 2}
{'length': 5, 'width': 4}

Using Python map() with Tuples
Similarly, we can apply the Python map() function on tuples. Because this looks very similar to applying it to Python lists, let’s take a look at a more interesting example. Imagine we have a tuple that contains some values. We want to return a tuple of tuples that contains the original value and the value squared.

Let’s see how we can do this:

In [32]:
# Using Python map() with Tuples
values=(1,4,5,6,7)
values2=tuple(map(lambda x:(x,x**2),values))

In [33]:
values2

((1, 1), (4, 16), (5, 25), (6, 36), (7, 49))

In [37]:
l=[1,2,3,4,56,78]
m=[4,56,3,5,8]
N=[i for i in l if i in m]

In [38]:
N

[3, 4, 56]