<a href="https://colab.research.google.com/github/RojaCM/PYTHON-CONCEPTS/blob/main/python%20extend().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python List extend() : to add multiple elements to a list.
Python list extend() method lets you add multiple elements to a list at a once
Python list extend() method takes all element from another iterable and add elements to the end of the list

list.extend(iterable) - syntax

In [1]:
#How to Add Items to a List with Python Extend

l2=[4,5,6]
l1=[6,7,8]

l1.extend(l2)

In [2]:
l1

[6, 7, 8, 4, 5, 6]

In [5]:
#Appending a single item to a list with list.extend() method :
l1.extend([9])

In [6]:
l1

[6, 7, 8, 4, 5, 6, 9]

In [7]:
# if we pass a single item like below it will through aerror since int it is not iterbale object ,but extend only allows an iterbale object.so we need to create a list for sinle item also
l1.extend(9)

TypeError: ignored

In [8]:
#adding/appending a string to the existing list using list.extend() method

s1=['welcome','to']
s1.extend('legato')

In [9]:
s1

['welcome', 'to', 'l', 'e', 'g', 'a', 't', 'o']

In [10]:
s1.extend(['legato'])

In [11]:
s1

['welcome', 'to', 'l', 'e', 'g', 'a', 't', 'o', 'legato']

In [14]:
#python list extend v/s list append 

#list append methos allows to add a single item to a list.where as list extend method will not allow to add single item to a list
r1=[1,2,3,4]
r1.append(5)

In [13]:
r1

[1, 2, 3, 4, 5]

In [15]:
#append v/s extend
r2=[4,5,6]
r3=[7,8,9]
r4=['a','b','c']

r2.append(r4)

In [16]:
r2

[4, 5, 6, ['a', 'b', 'c']]

In [17]:
r2.extend(r4)

In [18]:
r2

[4, 5, 6, ['a', 'b', 'c'], 'a', 'b', 'c']

We can see that by trying to add multiple items to a list using .append(), that all the items are added as a single list.

In order to be able to append each item separately using the .append() method, we would need to use a for loop:

In [20]:
# Adding Multiple Items with .append()
list1_append = [1,2,3]
list2 = [4,5,6]

for i in list2:
  list1_append.append(i)

In [21]:
list1_append

[1, 2, 3, 4, 5, 6]

In [23]:
#Python List Extend vs the Plus (+) Operator

#Another common way to add items to add items to the end of a list in Python is to use the + operator. This method concatenates the two lists. Because the operation doesn’t happen place, it creates a new object that combines the two lists.

#Let’s take a look at an example of how this works:


q1=[1,2,3]
q2=[4,5,6]
q1=q1+q2

In [24]:
q1

[1, 2, 3, 4, 5, 6]