<a href="https://colab.research.google.com/github/RojaCM/PYTHON-CONCEPTS/blob/main/PYTHON%20interview%20questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON INTERVIEW QUESTIONS

In [ ]:
#Yield keyword in python:act as a starndard retrun in a generator.return a value to the function

def fun1(idx):
  l1=['sun','mon','tue','wed','thu','fri','sat']
  yield l1[idx]
  yield l1[idx+1]

In [ ]:
day = fun1(0)

In [ ]:
next(day)

'sun'

In [ ]:
next(day)

'mon'

In [ ]:
#3) How to convert a list into a string?
l1=['sun','mon','tue','wed','thu','fri','sat']
new1=''.join(l1)

In [ ]:
new1

'sunmontuewedthufrisat'

In [ ]:
new1=' '.join(l1)

#4) How to convert a list into a tuple?

A) By using Python <tuple()> function we can convert a list into a tuple. But we can’t change the list after turning it into tuple, because it becomes immutable.

In [ ]:
l1=['sun','mon','tue','wed','thu','fri','sat']
l2=tuple(l1)

In [ ]:
l2

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

#5) How to convert a list into a set?

A) User can convert list into set by using <set()> function.

In [ ]:
l3=set(l1)

In [ ]:
l3

{'fri', 'mon', 'sat', 'sun', 'thu', 'tue', 'wed'}

#6) How to count the occurrences of a particular element in the list?

A) In Python list, we can count the occurrences of an individual element by using a <count()> function.

In [ ]:
weekdays = ['sun','mon','tue','wed','thu','fri','sun','mon','mon']
print(weekdays.count('mon'))

3

In [ ]:
week1=set(weekdays)

In [ ]:
week1

{'fri', 'mon', 'sun', 'thu', 'tue', 'wed'}

In [ ]:
[(i,weekdays.count(i)) for i in set(weekdays)]

[('mon', 3), ('fri', 1), ('sun', 2), ('thu', 1), ('tue', 1), ('wed', 1)]

In [ ]:
a = [1, 2, 3]
a[-1]

3

In [ ]:
names = ['Chris', 'Jack', 'John', 'Daman']

In [ ]:
#returns the last element of string based on index
names[-1][-2]

'a'

In [ ]:
names[-1]

'Daman'

#13) What is data type SET in Python and how to work with it?

A) The Python data type “set” is a kind of collection. It has been part of Python since version 2.4. A set contains an unordered collection of unique and immutable objects.

In [ ]:
set1={'python','is','the','easiest','language'}

In [ ]:
type(set1)

set

In [ ]:
len(set1)

5

In [ ]:
if 'is' in set1:
  print('yes')

yes

In [ ]:
if 'roja' not in set1:
  print('yes that is crct')

yes that is crct

In [ ]:
items=set()

In [ ]:
items.add('roja')
items.add('cm')
items.add('hnpura')

In [ ]:
items

{'cm', 'hnpura', 'roja'}

In [ ]:
'roja'+'cm'

'rojacm'

#15) How to generate random numbers in Python?

A) We can generate random numbers using different functions in Python. They are:

#1. random() – This command returns a floating point number, between 0 and 1.

#2. uniform(X, Y) – It returns a floating point number between the values given as X and Y.

#3. randint(X, Y) – This command returns a random integer between the values given as X and Y.

In [ ]:
import numpy as np

In [ ]:
import random

In [ ]:
r=random.random()

In [ ]:
r

0.2703097293479838

In [ ]:
q=random.uniform(45,60)

In [ ]:
q

49.48711414824577

In [ ]:
s=random.randint(45,89)

In [ ]:
s

83

In [ ]:
t=random.randrange(0,100,4)
t

76

In [ ]:
sum([i for i in range(101)])

5050

#17) How do you set a global variable inside a function?

A) Yes, we can use a global variable in other functions by declaring it as global in each function that assigns to it:

In [ ]:
globalvar=0
def set_gbvar():
  global globalvar
  globalvar=1

In [ ]:
def print_globalvar():
  print(globalvar)

In [ ]:
set_gbvar()

In [ ]:
print_globalvar()

1

#19) What is the output, Suppose list1 is [1, 3, 2], What is list1 * 2?

A) [1, 3, 2, 1, 3, 2]

In [ ]:
l1=[1,3,4]
l1*2

[1, 3, 4, 1, 3, 4]

In [ ]:
#21) Can you write a program to find the average of numbers in a list in Python?
n=int(input('enter the number of elements to be added'))

enter the number of elements to be added7

In [ ]:
n

7

In [ ]:
a=[]
for i in range(0,7):
  h=int(input('enter the number'))
  a.append(h)
  avg=sum(a)/n

enter the number5
enter the number6
enter the number3
enter the number8
enter the number2
enter the number8
enter the number6

In [ ]:
avg

5.428571428571429

In [ ]:
4%10

4

In [ ]:

#22) Write a program to reverse a number in Python?

#A) Python Program to Reverse a Number:


n=int(input('enter a number'))

enter a number84

In [ ]:
n

84

In [ ]:
rev=0
while(n>0):
  dig=n%10
  rev=rev*10+dig
  n=n//10

In [ ]:
print(rev)

48

#23) Write a program to find the sum of the digits of a number in Python?

A) Python Program to Find Sum of the Digits of a Number

In [ ]:
num=int(input('enter a number'))
tot=0
while(num>0):
  dig=num%10
  tot=tot+dig
  num=num//10

enter a number567

In [ ]:
tot

18

#24) Write a Python Program to Check if a Number is a Palindrome or not?

A) Python Program to Check if a Number is a Palindrome or Not:

In [ ]:
num3=int(input('enter a number'))
temp=num3
rev=0
while num3>0:
  dig=num3%10
  rev=rev*10+dig
  num3=num3//10
if rev==temp:
  print('it is a palindrome number')
else:
  print('it is not a palindrome number')

enter a number788
it is not a palindrome number

In [ ]:
rev

887

#25) Write a Python Program to Count the Number of Digits in a Number?

A) Python Program to Count the Number of Digits in a Number:

In [ ]:
num4=int(input('enter a number'))
count1=0 
while num4>0: 
  count1=count1+1 
  num4=num4//10

enter a number6787

In [ ]:
count1

4

#26) Write a Python Program to Print Table of a Given Number?

A) Python Program to Print Table of a Given Number:

In [ ]:
n=7
for i in range(1,11):
  print(f'{n}*{i} is {n*i}')

7*1 is 7
7*2 is 14
7*3 is 21
7*4 is 28
7*5 is 35
7*6 is 42
7*7 is 49
7*8 is 56
7*9 is 63
7*10 is 70

In [ ]:
for i in range(1,11):
  print(n,"X", i,"=",n*i)

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

#27) Write a Python Program to Check if a Number is a Prime Number?

A) Python Program to Check if a Number is a Prime Number:

In [ ]:
num6=int(input('enter a number'))
for i in range(2,num6):
  if num6 % i==0:
    print('the number is a prime')
else:
    print('the number is not a prime')

enter a number7
the number is not a prime

In [ ]:
n=int(input("Enter any number: "))

Enter any number: 7

In [ ]:

a=list(map(int,str(n)))

In [ ]:
type(a)

list

In [ ]:
str(5)

'5'

#28) Write a Python Program to Check if a Number is an Armstrong Number?

A) Python Program to Check if a Number is an Armstrong Number:

In [ ]:
n=int(input("Enter any number: "))
a=list(map(int,str(n)))

Enter any number: 678

In [ ]:
a

[6, 7, 8]

In [ ]:
str(678)

'678'

In [ ]:
list1=list(map(int,str(678)))

In [ ]:
list1

[6, 7, 8]

In [ ]:
sum(list1)

21

In [ ]:
n=input('enter a number')
list6=list(map(int,n))
sum(list6)

enter a number890

17

In [ ]:
#armstrong number
n=int(input('enter a number'))
list6=list(map(int,str(n)))
list7=list(map(lambda x:x**3,list6))
if sum(list7)==n:
  print('armstrong num')
else:
  print('not an armstrong num')

enter a number153
armstrong num

In [ ]:
list7

[1, 125, 27]

#29) Write a Python Program to Check if a Number is a Perfect Number?

A) Python Program to Check if a Number is a Perfect Numb

In [ ]:
number1=int(input('enter a number'))
pos_int=[]
for i in range(1,number1):
  if number1%i==0:
    pos_int.append(i)
if sum(pos_int)==number1:
  print('yes it is perfect number')
else:
  print('no it is not a perfect number')

enter a number10
no it is not a perfect number

In [ ]:
number1=int(input('enter a number'))
pos_int=[]
for i in range(1,number1):
  if number1%i==0:
    pos_int.append(i)
if sum(pos_int)==number1:
  print('yes it is perfect number')
else:
  print('no it is not a perfect number')

enter a number7
no it is not a perfect number

In [ ]:
number1=int(input('enter a number'))
pos_int=[]
for i in range(1,number1):
  if number1%i==0:
    pos_int.append(i)
if sum(pos_int)==number1:
  print('yes it is perfect number')
else:
  print('no it is not a perfect number')

enter a number6
yes it is perfect number

In [ ]:
fact(4)

#30) Write a Python Program to Check if a Number is a Strong Number?

A) Python Program to Check if a Number is a Strong Number:
What makes a number a strong number? Strong number: Strong numbers are the numbers whose sum of factorial of digits is equal to the original number. A strong number is such that the sum of it’s factorial is the number itself, lets take example, A number 145 is strong because factorial of 1, 4, 5 is equals to 145

In [ ]:
def fun(n):
  fact=1
  sumnum=[]
  for i in range(1,n+1):
     fact=fact*i
     sumnum.append(fact)

In [ ]:
fun(5)

[1, 2, 6, 24, 120]

In [ ]:
num7=int(input('enter a number'))
num8=list(map(int,str(num7)))


@fun(5)
def fact():
  if sum(sumnum)==num7:
    print('it is a strong number')
  else:
    print('it is not a strong number')

fact()

enter a number145

TypeError: ignored

#31) Write a Python Program to Find the Second Largest Number in a List?

A) Python Program to Find the Second Largest Number in a List:

In [ ]:
z=int(input('enter a length of the list to be'))
list2=[]
for i in range(z):
  n=int(input('enter a element'+str(i+1)+':'))
  list2.append(n)
  list2.sort(reverse=True)
print('second laregst number is :',list2[1])

enter a length of the list to be4
enter a element1:55
enter a element2:33
enter a element3:66
enter a element4:22
second laregst number is : 55

In [ ]:
list2

[66, 55, 33, 22]

In [ ]:
list2[1]

55

#32) Write a Python Program to Swap the First and Last Value of a List?

A) Python Program to Swap the First and Last Value of a List:

In [ ]:
x=int(input('enter a length of the list to be'))
list3=[]
for i in range(x):
  n=int(input('enter a element'+str(i+1)+':'))
  list3.append(n)
temp=list3[0]
list3[0]=list3[-1]
list3[-1]=temp

enter a length of the list to be5
enter a element1:44
enter a element2:55
enter a element3:33
enter a element4:66
enter a element5:88

In [ ]:
list3[-1]

77

In [ ]:
list3

[88, 55, 33, 66, 44]

#33) Write a Python Program to Check if a String is a Palindrome or Not?

A) Python Program to Check if a String is a Palindrome or Not:

In [ ]:
str1=input('enter a string')

if (str1==str1[::-1]):
  print('string is a palindrome')
else:
  print('string is not a palindrome')

enter a stringrororo
string is not a palindrome

In [ ]:
r='roror'

In [ ]:
r[::-1]

'roror'

#34) Write a Python Program to Count the Number of Vowels in a String?

A) Python Program to Count the Number of Vowels in a String:MM

In [ ]:
str2=input('enter a string')

c=0

for i in str2:
  if (i=='a' or i=='e' or i=='o' or i=='u' or i=='i'):
    c=c+1

enter a stringroja

In [ ]:
c

2

In [ ]:
len(r)

4

#
35) Write a Python Program to Check Common Letters in Two Input Strings?

A) Python Program to Check Common Letters in Two Input Strings:

In [ ]:
string1=input('enter a string:')
string2=input('enter a string')

enter a string:roja
enter a stringhistory

In [ ]:
common=[]
for i in string1:
  for j in string2:
    if i==j:
      common.append(i)

In [ ]:
common

['r', 'o']

In [ ]:
set(string1)

{'a', 'j', 'o', 'r'}

In [ ]:
set(string2)

{'h', 'i', 'o', 'r', 's', 't', 'y'}

In [ ]:
list(set(string1) & set(string2))

['r', 'o']

In [ ]:
set(string1) & set(string2)

{'o', 'r'}