<a href="https://colab.research.google.com/github/RojaCM/PYTHON-CONCEPTS/blob/main/Replace%20an%20item%20in%20a%20list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=['sun','mon','tue','wed','thu','fri','sat']

In [ ]:
''.join(a)

'sunmontuewedthufrisat'

In [ ]:
s='python'

In [ ]:
type(s)

str

In [ ]:
for idx,val in enumerate(s):
  print('character-->',val,'has index--->',idx)

character--> p has index---> 0
character--> y has index---> 1
character--> t has index---> 2
character--> h has index---> 3
character--> o has index---> 4
character--> n has index---> 5

In [ ]:
s[:]

In [ ]:
s[]

'nohtyp'

In [1]:
a=[4,5,6,3,4,7,8,9]

In [2]:
a.reverse()

In [3]:
a

[9, 8, 7, 4, 3, 6, 5, 4]

In [4]:
b=reversed(a)

In [5]:
b

In [6]:
list(b)

[4, 5, 6, 3, 4, 7, 8, 9]

#Python: Replace Item in List (6 Different Ways)

Python lists are ordered, meaning that we can access (and modify) items when we know their index position. Python list indices start at 0 and go all the way to the length of the list minus 1.

You can also access items from their negative index. The negative index begins at -1 for the last item and goes from there

In [7]:
b=[2,3,4,5,6,7,8,9]

In [8]:
b[1]=78

In [9]:
b

[2, 78, 4, 5, 6, 7, 8, 9]

In [10]:
b[-1]=98

In [11]:
b

[2, 78, 4, 5, 6, 7, 8, 98]

Replace a Particular Value in a List in Python Using a For Loop
Python lists allow us to easily also modify particular values. One way that we can do this is by using a for loop.

one of the key attributes of Python lists is that they can contain duplicate values. Because of this, we can loop over each item in the list and check its value. If the value is one we want to replace, then we replace it.

Letâ€™s see what this looks like. In our list, the word apple is misspelled. We want to replace the misspelled version with the corrected version.

In [13]:
a_list=['aple','banana','orange','aple','grape','aple']

for i in range(len(a_list)):
  if a_list[i]=='aple':
    a_list[i]='apple'

In [14]:
a_list

['apple', 'banana', 'orange', 'apple', 'grape', 'apple']

#Replace a Particular Value in a List in Python Using a List Comprehension:

One of the key attributes of Python list comprehensions is that we can often turn for loops into much shorter comprehensions. Letâ€™s see how we can use a list comprehension in Python to replace an item in a list

In [16]:
[apple if a_list[i]=='aple' else a_list[i] for i in range(len(a_list))]

['apple', 'banana', 'orange', 'apple', 'grape', 'apple']

In [18]:
#CHANGE ALL VALUES IN A LIST IN PYTHON USING A FUNCTION

def replace_values(list_to_replace,item_to_replace,item_to_replace_with):
  return [item_to_replace_with if item==item_to_replace else item  for item in list_to_replace]

In [19]:
list1=['ab','b','c','d','ab','ef','ab']

In [21]:
replaced_list=replace_values(list1,'ab','abc')

In [22]:
replaced_list

['abc', 'b', 'c', 'd', 'abc', 'ef', 'abc']

#Replace multiple values in a list in python
there may be many times when you want to replace not just a single item but multiple items

In [23]:
# Replace multiple items in a Python list with the same value
a_list1 = ['aple', 'ornge', 'aple', 'banana', 'grape', 'aple']

for i in range(len(a_list1)):
  if a_list1[i] in ['aple','ornge']:
    a_list1[i]='typo'

In [24]:
a_list1

['typo', 'typo', 'typo', 'banana', 'grape', 'typo']